table {
    width: 100%;
    height: 100%;
}
table, th, td {
   border: 0px solid black;
}


#element1 {
 letter-spacing: 8px;
  margin-left:20px;
  font-weight: 400;
  font-size: 28px;
} 

#element2 {
  display:inline-block;
  word-spacing: 30px;
  margin-right:20px;
  margin-left:auto;
  float:right;
} 
#element3 {
  display:block;
} 

#element2 > a:link {
  color: #D4D4D4;
  text-decoration: none;
}

#element2 > a:visited {
  color: #D4D4D4;
  text-decoration: none;                         
}

#element2 > a:hover {
  color: blue;
  text-decoration: none;
}

#element3 > a:active {
  color: blue;
  text-decoration: none;
}

#element3 > a:link {
  color: #595959;
  text-decoration: none;
}

#element3 > a:visited {
  color: #595959;
  text-decoration: none;                         
}

#element3 > a:hover {
  color: blue;
  text-decoration: none;
}

#element3 > a:active {
  color: blue;
  text-decoration: none;
}

h2 {
  color: #595959;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
  display: inline;
  border: 0px solid black;

}

div {
    text-align: justify;
    padding: 30 px 10 px 10 px 10 px;
}

div img {
    display: inline-block;
    width: 300px;
    height: 300px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.aboutmepadding {
  padding-left: 50px;
  padding-right: 50px;
}
.aboutme {
  background: #F7F7F7;
  padding:10px;
  line-height: 150%;
}

.blog {
  padding-left:400px;
  padding-right:400px;
  line-height: 150%;
}


.portfolio {
  background: #E0F1F9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.portfolio2 {
  background: #fff7f8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.portfolio4 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.header-details {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #595959;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }


* {
    font-family: 'Open Sans', sans-serif;
  }


#test {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}



