/* Universal */
.body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

/* NAVBAR */


/* change navbar logo position */
.logo {
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 20px;
}

/* change navbar color */
.container {
	background: white;
	border: 0;
	text-align: center;
	padding-top: 5px;
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
/*#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}*/

/* Change color of navbar */
.navbar-inverse {
	border-color: white!important;
	background-color: white!important;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: white!important;
}

/* Navbar links not being clicked */
.navbar-inverse .navbar-nav a {
	color: #778899!important;
}

/* Navbar links when hovered over */
.navbar-inverse a:hover {
	color: #adb7c1!important;
}

/* Navbar links if they are clicked on */
.navbar-inverse a:active {
	color: #adb7c1!important;
}

/* Navbar links if they are opened */
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a{
    color: #fff;
    background-color: white!important;
}






/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
}
/* Styling of thet three icon bars button */
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    background-color: #778899;
    height: 3px;
    margin: 5px 0 0 0;
}


/* The background color of the three icon bars button */
#slide-nav .navbar-toggle:hover {
	background-color: white;
}

/* The color when you hover over the icon bars individually */
#slide-nav .navbar-toggle > .icon-bar:hover {
    background-color: #9fabb7;
}




#slide-nav .navbar-toggle.slide-active .icon-bar {
	background-color: #9fabb7;
 }



.navbar-header {
    position: relative;


}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}




