
h2 {
	color: #595959;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: 10px;
	font-size: 28px;
	display: inline;
	border: 1px solid black;

}

.header-details {
    text-align: left;
   	font-family: 'Open Sans', sans-serif;
   	font-weight: 400;
   	font-size: 20px;
    border-bottom: 1px solid #595959;
    margin-bottom: 5px;
a {
    text-decoration: none;
    float: right;
    display: inline;
    border: 1px solid blue;
}