@media (min-width:768px) { 

	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}

	.banner {
	margin-top: 150px;
	margin-left: 15%;
	margin-right: 15%;
}

	.banner h1 {
		font-size: 5em;
		text-align: center;
		font-weight: 300;
		line-height: 120%;
	}


	.skills .col-sm-4 {
		padding-top: 20px;
		padding-left: 4%;
		padding-right: 4%;
	}

	.skills p {
	font-size: 1.3em;
	margin-top: 30px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	color: #3b444c;
	font-weight: 300;
	line-height: 150%;
}

#skillbar{
	margin-top: 90px;
	margin-bottom: 50px;
}

#skillbody{
	margin-left: 10%;
	margin-right: 10%
}

.center-block {
		display: table;
        margin: 0 auto;
        height: 100px;
        width: 160px;
	}

	.skills h3 {
		margin-top: -5px;
		margin-bottom: -5px;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}
}