
*{
	font-family: 'Roboto Slab', serif; font-weight:300;

}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #fff;
   margin: 0;
	padding: 0;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }

#header { 
	width: 100%; 
	background: #8A4D69; 
	opacity:0.6;
	height: 60px; 	
	position: fixed;
	margin-top: 20px;
}

#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-weight: 300; }

#nav { width: 410px; float: right; margin-top: 20px; }

#nav ul{
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 1px;	
	float: left;
	padding-left: 50px;
}

#nav li a { color: black; opacity:0.6; font-size: 16px; text-decoration: none;}
#nav li a.active { color: black; opacity:1; border-bottom: 2px solid black; }
#nav li a:hover { color: black; opacity:1;  }


#slide1{
	background:url('imgs/newday.jpg') 100% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#snowflakes1 { background: url('imgs/sun.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -54px; left: -102px; }
#snowflakes2 { background: url('imgs/sun.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -33px;  right: -100px; }

.layer {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide2{
	background:white 100% 0 no-repeat fixed;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background:url('imgs/turkey.jpeg') 100% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background:white 100% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide5{
	background:url('imgs/santorini.jpg') 100% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}
