@media (min-width:992px) { 

	.banner h1 {
		font-weight: 300;
		font-size: 60px;
		line-height: 130%;
		text-align: center;
		color: #3f3f3f;
		letter-spacing: 2px;
		padding-bottom: 50px;
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 60px;

	}



	#skills-include-bar h3 {
	color: #696969;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
	letter-spacing: 2px;
	}

	.skills-image {
		padding-top: 20px;
		padding-bottom: 30px;
		width: 125px;
	}

}

@media (min-width:769px) and (max-width:991px) { 

	.banner h1 {
		font-weight: 300;
		font-size: 50px;
		line-height: 130%;
		text-align: center;
		color: #3f3f3f;
		padding-bottom: 50px;
		letter-spacing: 2px;
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 30px;
	}

	#skills-include-bar h3 {
	color: #696969;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
	letter-spacing: 2px;
	}

	.skills-image {
		padding-top: 20px;
		padding-bottom: 30px;
		width: 90px;
	}
}

@media (min-width:488px) and (max-width:768px) { 

	.banner h1 {
		font-weight: 300;
		font-size: 30px;
		line-height: 130%;
		text-align: center;
		color: #3f3f3f;
		letter-spacing: 2px;
		padding-bottom: 50px;
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 25px;
	}

	#skills-include-bar h3 {
	color: #696969;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
	letter-spacing: 2px;
	}

	.skills-image {
		padding-top: 20px;
		padding-bottom: 30px;
		width: 90px;
	}

	#floated {
    	float: right;
    	/*background-color: blue;*/
	}

	#floated img { 
	width: 250px;
	margin-left: 20px;
	margin-bottom: 20px;
}
}