body {
	font-family: 'Roboto', sans-serif;
}

.page-content {
	margin: 50px 10% 0 10%;
}

.navbar-default {
	border-color: white!important;
	background-color: white!important;
}

.navbar-brand {
	float:none;!important;
}

#skills-include-bar {
	
}