body {
	font-family: 'Roboto', sans-serif;
}

.page-content {
	margin: 50px 10% 0 10%;
	text-align: center;
	letter-spacing: 2px;
}

.page-content h1 {
	font-weight: 300;
	font-size: 45px;
	margin-bottom: 50px;
}

.navbar-default {
	border-color: white!important;
	background-color: white!important;
}

.navbar-brand {
	float:none;!important;
}

.col-sm-4 {
	text-align: center;
	color: #3f3f3f;
}

.col-sm-4 h4 {
	line-height: 140%;
	font-size: 18px;
}
.col-sm-4 p {
	line-height: 140%;
	font-size: 16px;
	padding-bottom: 20px;
}

/* About Me Page */

#container {
   /* background: yellow;*/
}


#container p {
   text-align: left;
}
#floated {
    float: right;
/*    width: 150px;*/
   /* background: red;*/
}
#floated img { 
	width: 500px;
	margin-left: 20px;
	margin-bottom: 20px;
}

