
/* Main section - Creating the grid */

main.box-creation {
    padding: 0px;
    width: 100%;
}

main.box-creation ul {
    padding: 0px; /* Removes Webkit's default padding for lists */
    margin: 0px;
}

li.left {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 300px;
    margin-right: 2%;
    margin-bottom: 20px;
}

li.center {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 300px;
    margin-right: 2%;
    margin-bottom: 20px;    
}

li.right {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 300px;
    margin-bottom: 20px;    
}

/* Entering boxes inside boxes */

figure {
    position: absolute;
    top: 0px:
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 30%;
    height: 100%;
}

/* Image hovers */

.image-shown {
    width: 100%;
    overflow: hidden;
}

.image-shown img {
    width: 100%;
    z-index: 100;
}

.text-overlay {
    z-index: 100;
    padding-left: 10%;
    padding-right: 0;
    width: 90%;
    height: 100%;
    text-align: center;
    display: table;
    color: white;
}

.middle-data { 
    /* Extra layer that puts a single cell on top of the text-overlay "table", helps middle align */
    z-index: 1000;
    display: table-cell;
    vertical-align: middle;
    visibility: hidden;
}


.text-overlay:hover { /* When hovering over the text overlay, which is on top, create opaque background */
    background-color: black;
    opacity: 0.8;
        -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.text-overlay:hover .middle-data { /* Show the cell only when text-overlay is hovered over */
    visibility: visible;
}

/* Text hovers */

.text-header {
    z-index: 100;
    padding-left: 10%;
    padding-right: 0;
    width: 80%;
    background-color: white;
    color: #004869;
    text-align: center;
    display: table;
}

.middle-header {
    display: table-cell;
    vertical-align: middle;
}

.text-description {
    padding-left: 10%;
    padding-right: 0;
    width: 80%;
    background-color: #004869;
    color: white;
    text-align: center;
    display: table;
}

.middle-description {
    display: table-cell;
    vertical-align: middle;
}

.text-header:hover { /* Rather than hide the box, simply set everything to transparent */
    background-color: transparent;
    color: transparent;
}